* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: Rubik, sans-serif;
  text-align: center;
}

#container {
  background-color: #bbb;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  max-width: 85%;
  padding: 20px;
}

h1 {
  color: #333;
  padding: 20px;
}

.logo {
  padding: 20px;
  text-align: center;
}

#genMega, #genPower {
  color: #6719e6;
  font-weight: 500;
  padding-bottom: 4px;
}

#genMega:hover, #genPower:hover {
  cursor: pointer;
}

.ball, .mmball, .pbball {
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

/*change megaball to yellow while retaining shadowing and position from ruleset above*/
.mmball {
  background-color: #ff0;
}

/*ditto for powerball color (red)*/
.pbball {
  background-color: #f00;
  color: #fff;
}

p {
  color: #333;
  font-size: smaller;
  padding-bottom: 5px;
  padding-top: 4px;
}

.separator {
  text-align: center;
}

.disclaimer, .author {
  font-size: small;
}

@media all and (max-width:576px) {
  .ball, .mmball, .pbball {
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    width: 25px;
  }

  p {
    font-size: 12px;
  }
}
